@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');


* {
  font-family: 'Public Sans', Helvetica, sans-serif;
}

body {

  background-color: #fff;
}

.crossed-out{
  text-decoration: line-through;
  color: rgb(206, 205, 205);

}

footer li a{
  color: green;
}

